<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>vDesign Studio</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin">
      <img class="mb-4" src="/assets/logo.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Registration success. Please sign in</h1>
      <br>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>

    <form class="goToLogin" action="/register" method = "get">
        <button class="btn btn-lg btn-primary btn-block" id="goToLogin">Sign In</button>
      </form>
  </body>
</html>
